:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  background-color: #191632;
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.3em .6em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: transform 0.1s ease-in-out;
  background-color: #191632;
  color: #aca7c8
}
button:hover {
  border-color: #8f2a2a;
  transform: scale(1.1);
}



.fab {
  font-size: 30px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: #35304f;
  padding: 10px;
  height: 750px;
  width: 500px;
  border-radius: 5%;
  padding-bottom: 20px;
  padding-top: 5px;
}

.nav {
  text-align: center;
  margin-top: 0;
  padding: 0;
}

.nav-title {
  color: #d5d3e2;
  font-size: 48px;
  line-height: 10px;
  font-family: 'Fredericka the Great', cursive;
}
.nav > p {
  background-color: #191632;
  border-radius: 10px;
  color: #aca7c8;
  font-size: 20px;
  padding: 5px;
}

.choose-file-button {
  color: #aca7c8; 
}

.image-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191632;
  min-width: 250px;
  min-height: 150px;
  max-width: 250px;
  max-height: 150px;
  z-index: 2;
  border-radius: 10px;
  color:#aca7c8;
  margin-bottom: -180px;
  margin-top: 10px;
}


#preview {
  min-width: 250px;
  min-height: 150px;
  max-width: 250px;
  max-height: 150px;
  margin-top: 10px;
  object-fit: cover;
  border: 5px solid #191632;
  margin-bottom: -180px;
  border-radius: 10px;
  z-index: 10;
}

.image-background > p {
  font-size: 20px;
}

.add-secret-buttons-container {
  margin-top: 170px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}


.add-secret-container-textarea {
  margin-top: 0px;
  margin-left: 85px;
  width: 100%;
}

.add-secret-textarea {
  display: block;
  max-width: 80%;
  min-width: 80%;
  min-height: 100px;
  max-height: 100px;
  background-color: rgb(242, 238, 238);
  border-radius: 10px;
  border: 5px solid #191632;
  
}

.current-message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.current-message-button {
  margin: 0 auto;
}

.current-message {
  margin: 10px auto;
  max-width: 80%;
  min-width: 80%;
  min-height: 40px;
  max-height: 40px;
  background-color: rgb(242, 238, 238);
  border-radius: 10px;
  border: 5px solid #191632;
}

.download-button {
  width: 80%;
}

.credit {
  position: absolute;
  bottom: 0;
  right: 20px;
  color:#aca7c8;
}


















