:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  background-color: #191632; /* Deep Charcoal Gray */
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.3em .6em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: transform 0.1s ease-in-out;
  background-color: #191632;
  color: #aca7c8
}
button:hover {
  border-color: #8f2a2a;
  transform: scale(1.1);
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

} */



.nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: purple;
  width: 100%;
}

.nav-title {
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: #35304f;
  padding: 10px;
  height: 550px;
  width: 500px;
  border-radius: 5%;
}

.choose-file-button {
  color: #aca7c8; 
}

.image-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #191632;
  width: 250px;
  height: 150px;
  width: 250px;
  height: 150px;
  top: 180px;
  z-index: 2;
  border-radius: 10px;
  color:#aca7c8;
}


#preview {
  position:absolute;
  min-width: 250px;
  min-height: 150px;
  max-width: 250px;
  max-height: 150px;
  top: 180px;
  object-fit: cover;
  border: 5px solid #191632;
  border-radius: 10px;
  z-index: 10;
}

.image-background > p {
  font-size: 20px;
}

.add-secret-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.add-secret-container > button {
  margin-top: 20px;
}

.current-message-container {
  margin-top: 185px;
}

textarea {
  max-width: 80%;
  min-width: 80%;
  min-height: 140px;
  max-height: 140px;
  background-color: rgb(242, 238, 238);
}














